<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/c3316d311d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
           <h1>Bookers</h1>
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
         <% if user_signed_in? %>
          <ul class="navbar-nav  ml-auto">
           <li class="nav-item active mx-auto p-2">
            <%= link_to user_path(current_user) do %>
            <i class="fa-solid fa-house"></i>Home
            <% end %>
           <li/>
           <li class="nav-item active mx-auto p-2">
            <%= link_to users_path do %>
            <i class="fa-solid fa-users"></i>Users
            <% end %>
           </li>
           <li class="nav-item active mx-auto p-2">
            <%= link_to books_path do %>
            <i class="fa-solid fa-book-open"></i>Books
            <% end %>
           </li>
           <li class="nav-item active mx-auto p-2">
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa-solid fa-right-from-bracket"></i>Log out
            <% end %>
           </li>
         <% else %>
          <li class="nav-item active mx-auto">
            <%= link_to root_path do %>
            <i class="fa-solid fa-house"></i>Home
            <% end %>
          </li>
          <li class="nav-item active mx-auto">
            <%= link_to about_path do %>
            <i class="fa-solid fa-link"></i>About
            <% end %>
          </li>
          <li class="nav-item active mx-auto">
            <%= link_to new_user_registration_path do %>
            <i class="fa-solid fa-user-plus"></i>Sign up
            <% end %>
          </li>
          <li class="nav-item active mx-auto">
            <%= link_to new_user_session_path do %>
            <i class="fa-solid fa-right-to-bracket"></i>Log in
            <% end %>
          </li>
         <% end %>
          </ul>
        </div>
      </div>
      </nav>
    </header>
    
    <main>
    <%= yield %>
    </main>
    <footer>
      <h4 class="text-center mx-auto p-2">CopyRight Infratop.inc</h4>
    </footer>  
  </body>
</html>
